<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Huntsmen</title>
    <!-- CSS only -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- add easay change to bootstrap css here-->
    <style>
        .nav_image {
            background-image: url(/stylesheets/ducker.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            min-height: 300px;
            background-position: center;
            background-blend-mode: exclusion;
        }

        body {
            background-image: url(/stylesheets/pageback3.png);
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
        }

        .post-list {
            align-content: center;
            border: thick solid white;
            border-radius: 45px;
            color: tan;
        }
        
        .navig{
        display: flex;
        align-items: flex-start;
        }
        .toolbar{
            display: contents;
        }
        .advert1{
            border-radius: 45px;
            border: thick solid teal;
            color: aliceblue;
            padding: 0px;
        }
        .advert2{
            border-radius: 45px;
            border: thick solid teal;
            padding: 0px;
            color: aliceblue;
        }
        .advertban1{
            background-image: url(/stylesheets/advertban1.png);
            background-size: cover;
            min-height: 125px;
            border-radius: 40px;
        }
        .advertban2{
            background-image: url(/stylesheets/advertban2.png);
            background-size: cover;
            min-height: 125px;
            border-radius: 40px;
        }
        footer{
            border: solid thick tan;
            border-radius: 45px;
        }
    </style>
</head>

<body>
    <nav class=" navig navbar navbar-expand-md navbar-light bg-dark nav_image">
<img src="/stylesheets/Red Modern and Minimalist Social Media Marketing Agency Website (200 × 200 px).png" alt="logo" class="img-thumbnail rounded float-left">
<section class="toolbar">
        <h1>
            <a href="/" class="btn btn-link text-white bg-dark btn-lg" role="button">The Huntsmen</a>
        </h1>
         <h1>
        <a class="btn btn-link bg-dark text-white btn-lg" role="button" href="/dashboard">Dashboard</a>

        <a role="button" class="btn btn-link bg-dark text-white btn-lg" href="/">Home</a>
        {{#if loggedIn}}
        <a role="button" class="btn btn-link bg-dark text-white btn-lg" href="/" id="logout">Logout</a>
        {{else}}

        <a role="button" class="btn btn-link bg-dark text-white btn-lg" href="/login">Login</a>
         </h1>
        {{/if}}
</section>

    </nav>
    <br>
    <main class="container-fluid">
        <div class="row">
        <div class="col advert1"> 
            <section class="advertban1">
            </section>
            <br>
            <h1>Find A State Park Near You</h1>
            <input name="search-park" type="text" class="search-park" placeholder="Enter State Code(Tx)" id="parks">
            <button class="search-park-btn">Search</button>
            <ul class="park-name"></ul>
        <div>

        </div>
        </div>


        <div class="col-6">
        {{{ body }}}
        </div>
        <div class="col advert2">
            <section class="advertban2">
             </section>
             <br>
            <h1>Check Out Your Local Outfitter</h1>
            <input name="search-outfitter" type="text" class="search-outfitter" placeholder="Enter Zip Code">
            <button class="search-outfitter-btn">Search</button>
        </div>
        </div>
    </main>
    <footer style="color: tan;">
        Thanks for visiting!
        <h3>Made By:</h3>
        <H4>Brandon Velarde. To view Github Account<a href="https://github.com/BrandonDaws"> Click Here</a></H4>
        <H4>Justin Vititoe. To view Github Account<a href="https://github.com/jvit1985"> Click Here</a></H4>
        <H4>Justin Wright. To view Github Account<a href="https://github.com/BrandonDaws"> Click Here</a></H4>
    </footer>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/search-park.js"></script>
    {{/if}}
</body>

</html>