{{> post-info post}}

{{#if loggedIn}}
<div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">

        <label class="form-label">Comment</label>
        <input id="comment" name="comment-body" class="form-input" />
    <div>
        <button type="submit" class="comment-btn">Add Comment</button>
        <button type="button" class="upvote-btn">Upvote</button>
    </div>
    </form>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="'/javascript/upvote.js"></script>
{{/if}}